.mobile-nav {
    position: fixed;
    top: 4rem; 
    right: 6rem;
    z-index: 999;
    width: 9rem;
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 2rem; 
    text-align: center;
    border-radius: 15px;
  }
  
  .mobile-nav__menu {
    list-style: none;
    padding: 0;
    margin: 0; 
  }
  
  .mobile-nav__link {
    font-size: var(--size-base);
    text-decoration: none;
    font-weight: 900;
    color: var(--clr-slate600);
    letter-spacing: -0.05em;
    transition: color 0.3s;
    margin-bottom: 1rem; 
  }
  
  .mobile-nav__link:hover {
    color: var(--clr-rose);
    font-size: var(--size-1xl);
  }
  
  .mobile-nav__resume{
    margin-top:7.5px;
    font-size:.7rem;
  }