/* Adjust contact container height to align with model container */
.contact-container {
  /* Adjusted height using viewport units */
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-container canvas {
  width: 100%;
  height: 100%;
}

/* Media query for small screens (e.g., larger mobile phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .model-container {
    height: 40vh; /* Adjusted height for smaller screens */
  }
}

/* Media query for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
  .model-container {
    height: 45vh; /* Adjusted height for tablets */
  }
}

/* Media query for large screens (e.g., desktops) */
@media (min-width: 1025px) {
  .model-container {
    height: 50vh; /* Default height for large screens */
  }
}

